/* Customized CSS File */
.header{
    background-image: url('../Images/cover-2.png');
    background-blend-mode: multiply;
    
}

.income{
    background-image: url('../Images/income-1.png');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.expense{
    background-image: url('../Images/expenses-1.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    
}

.saving{
    background-image: url('../Images/savings-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.balance{
    background-image: url('../Images/dollar-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer{
    background-image: url('../Images/cash-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:multiply;
}