/* Customized CSS File */
.header{
    background-image: url('../Images/cover-2.png');
    background-blend-mode: multiply;
}

.income{
    background-image: url('../Images/income-1.png');
    background-position: center;
    background-size: cover;
}

.expense{
    background-image: url('../Images/expenses-1.jpg');
    background-position: center;
    background-size: cover;
}